* {
	margin: 0;
	padding: 0;
}



canvas {
	display: block;
	/* margin: 40px auto 20px;
	border: 1px solid #333; */

}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #777;
	display: block;
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

.info {
	margin: 14px auto;
	text-align: justify;
	font-size: 18px;
	color: #999;
}

label {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #555;
	width: 400px;
	margin: 0 auto;
	display: block;
}

.plimg1{
  z-index: 1;
}

.bgimg{
  z-index: 0;
}

.cdinput{
width: 330px;
	height: 50px;
	border-color: transparent;
	padding: 10px;
	background-color: white;
	font-size: 18px;
	font-family: "Poppins", sans-serif;
	text-align: center;
	border: none;
	outline: none;
	border-radius: 5px;
	z-index: 1;
	text-transform: uppercase;
}